body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20fr 1fr;
    grid-template-areas: "f m" "f e";
}

.friends {
    grid-area: f;
    background-color: blueviolet;
    display: grid;
    align-content: top;
    height: 100%;
}

.messages {
    grid-area: m;
    background-color: lightgray;
    display: grid;
}

.editor {
    grid-area: e;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 1fr;
    border: 1px solid gray;
}

.typing {
    display: grid;
    align-content: center;
    padding-left: 10px;
}

.send {
    display: grid;
    background-color: blueviolet;
    align-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    padding-left: 10px;
}

p.friend {
    background-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    height: 2rem;
    line-height: 2rem;
}

.message {
    border-radius: 10px;
    height: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.left {
    background-color: darkgrey;
    justify-self: start;
    margin-left: 20px;
    padding-left: 20px;

}

.right {
    justify-self: end;
    margin-right: 20px;
    background-color: lightgreen;
}

p.text {
    font-family: fantasy;
}

p.time {
    font-family: fantasy;
    text-align: right;
}