 /* #container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "h h f f s s" "h h f f s s" "h h . . s s" "h h m m s s" "h h m m s s";
    grid-gap: 10px;
} */

/* Pattern 2: "s s s s s s" "f f f m m h" "f f f m m h" "f f f m m h" "f f f m m h"; 
   Pattern 3: "h h f f s s" "h h f f s s" "h h f f s s" "h h m m s s" "h h m m s s";
   Pattern 4: "h h f f s s" "h h f f s s" "h h . . s s" "h h m m s s" "h h m m s s";
*/

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "s m"
        "f f";
}

.head{
    grid-area: h;
    background-color: yellow;
}

.side-nav{
    grid-area: s;
    background-color: orange;
}

.main{
    grid-area: m;
    background-color: green;
}

.foot{
    grid-area: f;
    background-color: grey;
}