body {
    margin: 0px;
}

#centered {
    width: 1000px;
    height: 50px;
    background-color: grey;
    position:absolute;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    line-height: 50px;
}